OxyTeamTasks

logs
*.md

FinanceServer/build
GateServer/build
VehicleServer/build
UMSServer/build

MailerServer/node_modules
Client/node_modules

!README.md
docs
*.docx

.superpowers
.claude
.impeccable
.vscode
